@{
    Layout = "~/Views/Shared/Edit.cshtml";
}

@model Langben.DAL.MYResult

@using Common
@using Models
<div class="portlet-title">
    <div class="caption">
        <i class="icon-equalizer font-red-sunglo"></i>
        <span class="caption-subject font-red-sunglo bold uppercase">对比结果</span>
        <span class="caption-helper">一定要加油哦，我是来说明的。</span>
    </div>
</div>
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <form action="/api/MYResultApi/Put" class="form-horizontal">
        <div class="form-body">
            
            <div class="row">
 
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Result, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Result, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Result) })
                            @Html.ValidationMessageFor(model => model.Result)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>
 
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GoldTempId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.GoldTempId, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.GoldTempId) })
                            @Html.ValidationMessageFor(model => model.GoldTempId)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
 
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GoldTempPath, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.GoldTempPath, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.GoldTempPath) })
                            @Html.ValidationMessageFor(model => model.GoldTempPath)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>
 
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StandardTemp, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.StandardTemp, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.StandardTemp) })
                            @Html.ValidationMessageFor(model => model.StandardTemp)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
 
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Style, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Style, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Style) })
                            @Html.ValidationMessageFor(model => model.Style)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>
 
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.State, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.State,Models.SysFieldModels.GetSysField("MYResult","State"),"请选择", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.State)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
 
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Vertion, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Vertion, new { onkeyup = "isInt(this)", @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Vertion) })
                            @Html.ValidationMessageFor(model => model.Vertion)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Remark) })
                            @Html.ValidationMessageFor(model => model.Remark)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>

            </div>
@Html.HiddenFor(model => model.CreateTime ) 
            @Html.HiddenFor(model => model.CreatePerson )
         
            @Html.HiddenFor(model => model.Id)
            
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary">修改</button>
                            <button type="button" class="btn default" onclick="BackList('/MYResult')">返回</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </form>
    <!-- END FORM-->
</div>

<script type="text/javascript">

    $(function () {
        
    });
    


</script>



