@*社保政策*@
@model Langben.DAL.PoliceInsurance

@using Common
@using Models

<div class="row">

    <div class="col-md-2">
        <button onclick="langbenCreate()" class="btn default"><i class="icon-plus"></i> 创建社保政策 </button>
    </div>

    <div class="col-md-10">
        @ViewBag.InsuranceName
    </div>
</div>
<table id="langbenData" class="table table-striped table-bordered">
    <thead>
        <tr>

            <th data-orderable='false'>@Html.DisplayNameFor(model => model.CityId)</th>

            <th data-orderable='false'>@Html.DisplayNameFor(model => model.PoliceAccountNatureId)</th>

            <th data-orderable='false'>@Html.DisplayNameFor(model => model.InsuranceKindId)</th>

            <th data-orderable='false'>@Html.DisplayNameFor(model => model.StartTime)</th>

            <th data-orderable='false'>@Html.DisplayNameFor(model => model.EndTime)</th>


            <th data-orderable='false'>@Html.DisplayNameFor(model => model.CreateTime)</th>


            <th data-orderable="false">
                操作
            </th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>

<script type="text/javascript" language="javascript">
    $(function () {

        var table = $('#langbenData').DataTable({
            ajax: {
                type: "POST",
                url: '/PoliceInsurance/PostData/',
                contentType: 'application/json; charset=utf-8',
                data: function (data) {

                    data.search.value = "@(ViewBag.InsuranceId)";
                    return data = JSON.stringify(data);
                }
            },
            order: [[5, "desc"]],
            columns: [

            { data: 'CityId' },

            { data: 'PoliceAccountNatureId' },

            { data: 'InsuranceKindId' },

                {
                    data: 'StartTime', render: function (value, type, full, meta) {
                        if (value == null) return '';
                        var reg = new RegExp('/', 'g');
                        var d = eval('new ' + value.replace(reg, ''));
                        return new Date(d).format('yyyy-MM-dd');
                       // return dateConvert(data);

                    }
                },

                {
                    data: 'EndTime', render: function (value, type, full, meta) {
                        if (value == null) return '';
                        var reg = new RegExp('/', 'g');
                        var d = eval('new ' + value.replace(reg, ''));
                        return new Date(d).format('yyyy-MM-dd');

                    }
                },



                {
                    data: 'CreateTime', render: function (data, type, full, meta) {

                        return dateConvert(data);

                    }
                },




               { data: "操作" }
            ],
            columnDefs: [
                 
                {
                    targets: -1,//-1表示最后一列
                    width: "70px",//固定宽度
                    render: function (data, type, full, meta) {

                        return '<div class="hidden-sm hidden-xs action-buttons"><a class="green" href="#" onclick="langbenModify('
                            + "'" + full.Id + "'"
                            + ')"><i class="ace-icon fa fa-pencil bigger-130"></i></a><a class="red langbenDelete" href="#" id="'
                          + full.Id
                            + '"><i class="ace-icon fa fa-trash-o bigger-130"></i></a></div>' +
                            '';
                    }
                }]

        });

        // 数据删除
        $('#langbenData tbody').on('click', 'a.langbenDelete', function () {

            //  var data = tables.row($(this).parents('tr')).data(); //释放注释你会有惊喜
            var id = $(this).attr("id");
            $.confirm({
                title: '提示',
                content: "确认删除它吗？",
                buttons: {
                    ok: {
                        text: "是的",
                        btnClass: 'btn-primary',
                        keys: ['enter'],
                        action: function () {
                            $.ajax({
                                type: 'DELETE',
                                url: "/api/PoliceInsuranceApi/Delete/" + id,

                                dataType: 'json',

                                success: function (res) {

                                    if (res.Message == "删除成功") {//删除成功
                                        //重新加载DataTable

                                        $.alert({
                                            title: '提示',
                                            content: '删除成功!',
                                            autoClose: 'cancelAction|5000',
                                            buttons: {
                                                cancelAction: {
                                                    text: '知道了',
                                                    action: function () {
                                                    }
                                                },
                                            }
                                        });
                                        table.ajax.reload();


                                    }
                                    else {//删除失败

                                        $.alert({
                                            title: '提示',
                                            content: res,
                                            buttons: {
                                                cancelAction: {
                                                    text: '知道了',
                                                    action: function () {
                                                    }
                                                },
                                            }
                                        });

                                    }
                                },
                                error: function () {
                                    alert("错误");

                                }
                            })

                        }
                    },
                    cancel: {
                        text: "稍等等",
                        btnClass: 'btn',
                        action: function () {
                        }
                    }
                }
            });
             
        });


    });
    //创建
    function langbenCreate() {

        $("#contentBody").load("../PoliceInsurance/Create/@ViewBag.Id", function () {

        });

    }
    //修改
    function langbenModify(id) {

        var url = "../PoliceInsurance/Edit/" + id;
        $("#contentBody").load(url, function () {

        });

    };
    //查看详细
    function langbenView(id) {

        $.dialog({
            title: '',
            columnClass: 'col-md-8 col-md-offset-2',
            backgroundDismiss: true,
            content: function () {
                var self = this;
                return $.ajax({
                    url: '/PoliceInsurance/Details/' + id,
                    method: 'get'
                }).done(function (response) {

                    self.setContent(response); // 加入获取的数据

                }).fail(function () {

                    self.setContent('出错了，请关了重试。');

                });
            }

        });

    };

</script>
