@{
    Layout = "~/Views/Shared/Edit.cshtml";
}

@model Langben.DAL.City

@using Common
@using Models
<div class="portlet-title">
    <div class="caption">
        <i class="icon-equalizer font-red-sunglo"></i>
        <span class="caption-subject font-red-sunglo bold uppercase">缴纳地</span>
        <span class="caption-helper">一定要加油哦，我是来说明的。</span>
    </div>
</div>
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <form action="/api/CityApi/Put" class="form-horizontal">
        <div class="form-body">
            
            <div class="row">
       
            <div class="editor-label">
                <a class="anUnderLine" onclick="showModalOnly('Cit_Id','../../City');">
                    @Html.LabelFor(model => model.Cit_Id) 
                </a>：
            </div>
            <div class="editor-field">
                <div id="checkCit_Id">
                    @if(Model!=null)
                        {
                        if (!string.IsNullOrWhiteSpace(Model.Cit_Id))
                        {
                    <table  id="@Model.Cit_Id"
                        class="deleteStyle">
                        <tr>
                            <td>
                                <img  alt="删除"  title="点击删除" src="../../../Images/deleteimge.png" onclick="deleteTable('@Model.Cit_Id ','Cit_Id');"/>
                            </td>
                            <td>
                                @Model.City2.Name
                            </td>
                        </tr>
                    </table>
                     }} 
                </div>
                @Html.HiddenFor(model => model.Cit_Id)
            </div> 
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Name) })
                            @Html.ValidationMessageFor(model => model.Name)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
 
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.State, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.State,Models.SysFieldModels.GetSysField("City","State"),"请选择", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.State)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>
 
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Vertion, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Vertion, new { onkeyup = "isInt(this)", @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Vertion) })
                            @Html.ValidationMessageFor(model => model.Vertion)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Remark) })
                            @Html.ValidationMessageFor(model => model.Remark)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>

            </div>
@Html.HiddenFor(model => model.CreateTime ) @Html.HiddenFor(model => model.CreatePerson )
            @Html.HiddenFor(model => model.Vertion) 
             @Html.HiddenFor(model => model.Id ) 

        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary">修改</button>
                            <button type="button" class="btn default" onclick="BackList('/City')">返回</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </form>
    <!-- END FORM-->
</div>

<script type="text/javascript">

    $(function () {
        
    });
    


</script>



