@{
    Layout = "~/Views/Shared/Create.cshtml";
}

@model Langben.DAL.Rule

@using Common
@using Models
<div class="portlet-title">
    <div class="caption">
        <i class="icon-equalizer font-red-sunglo"></i>
        <span class="caption-subject font-red-sunglo bold uppercase">核销规则设定</span>
        <span class="caption-helper">一定要加油哦，我是来说明的。</span>
    </div>
</div>
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <form action="/api/RuleApi/Post" class="form-horizontal">
        <div class="form-body">

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Name) })
                            @Html.ValidationMessageFor(model => model.Name)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <h3 class="form-section" id="mpTitle">
                    匹配项设定    <button type="button" class="btn btn-success" id="btnMpAdd">增加</button>
                </h3>
            </div>
            <div class="row">
                <h3 class="form-section" id="mbTitle">
                    对比项设定
                    <button type="button" class="btn btn-success" id="btnMbAdd">增加</button>
                </h3>
            </div>
            <div class="row">
             
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Remark) })
                            @Html.ValidationMessageFor(model => model.Remark)
                            <span class="help-block">

                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary">创建</button>
                            <button type="button" class="btn default" onclick="BackList('/Rule')">返回</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </form>
    <!-- END FORM-->
</div>

<!-- 验证 -->
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type='text/javascript'>

    $(function () {
        $("#btnMpAdd").click(function () {
            var tr = "<p  style='font-size:16px'>名称:<input class='input-small' type='text'>&nbsp&nbsp基础文件列数:<input class='input-small' type='text'>&nbsp&nbsp对比文件列数:<input class='input-small' type='text'>"
            tr += "&nbsp&nbsp日期调整月:<select class='input-small'><option>-12</option><option>-11</option><option>-10</option><option>-9</option><option>-8</option><option>-7</option><option>-6</option><option>-5</option><option>-4</option><option>-3</option><option>-2</option><option>-1</option><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option></select>";
            tr += "&nbsp&nbsp<input type='button' value='删除' onclick='$(this).parent().remove();'></input></p>";
            $("#mpTitle").append(tr);
        });
        $("#btnMbAdd").click(function () {
            var tr = "<p style='font-size:16px'>名称:<input class='input-small' type='text'>&nbsp&nbsp基础文件列数:<input class='input-small' type='text'>&nbsp&nbsp对比文件列数:<input class='input-small' type='text'>"
            tr += "&nbsp&nbsp<input type='button' value='删除' onclick='$(this).parent().remove();'></input></p>";
            $("#mbTitle").append(tr);
        });
        $("form").submit(function (form) {

            if (form.result) {

                $.ajax({
                    url: this.action,
                    type: "Post",
                    data: $(this).serialize(),//组装对象
                    dataType: "json",
                    success: function (data) {

                        $.confirm({
                            title: '操作提示',
                            content: data.Message,
                            buttons: {
                                ok: {
                                    text: "继续",
                                    btnClass: 'btn-primary',
                                    keys: ['enter'],
                                    action: function () {

                                    }
                                },
                                cancel: {
                                    text: "返回",
                                    btnClass: 'btn',
                                    action: function () {
                                        $("#contentBody").load("../Rule", function () {

                                        });
                                    }
                                }
                            }
                        });

                    }
                });
            }
            return false;
        });

    });
</script>




